@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffffff;
  height: 300vh;
  margin: 0;
  padding: 0;
}

.rectangle-1 {
  background: #025e73;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.rectangle-8 {
  background: #011f26;
  border-radius: 10px;
  width: 104px;
  height: 33px;
  text-align: center;
  color: #ffffff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
/* 
.navesq {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navesq li {
  list-style: none;
}

.navesq li a {
  text-decoration: none;
  color: #ffffff;
}
 */
.logo-tcc-3-1 {
  width: 263px;
  height: 78px;
  object-fit: cover;
}

.rectangle-6 {
  background: #025e73;
  width: 100%;
  height: 670px;
  display: flex;
  align-items: center;
}

.rectangle-5 {
  background: #025e73;
  width: 100%;
  height: 194px;
}

.coins-amico-1 {
  width: 511px;
  height: 509px;
}

p{
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Italic", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  left: 125px;
  top: 345px;
  width: 595px;
  height: 143px;
  margin: 10px;
 }

.sobre-n-s {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  width: 102px;
  height: 23px;
}

.login {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  width: 55px;
  height: 19px;
}

.rectangle-7 {
  background: #011f26;
  width: 100%;
  height: 750px;
}

.rectangle-4 {
  background: #a5a692;
  width: 100%;
  height: 750px;
}

.coins-rafiki-1-1 {
  width: 685px;
  height: 651px;
  position: absolute;
  left: 35px;
  top: 857px;
  object-fit: cover;
}

.cota-o-da-criptomoeda-em-tempo-real {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 48px;
  font-weight: 300;
  position: absolute;
  left: 790px;
  top: 947px;
  width: 595px;
  height: 116px;
}

.todas-as-moedas-aqui {
  color: #ffffff;
  text-align: right;
  font-family: "Inter-Light", sans-serif;
  font-size: 32px;
  font-weight: 300;
  position: absolute;
  width: 595px;
  height: 38px;
}

.perguntas-frequentes {
  color: #000000;
  text-align: center;
  font-family: "Inter-Light", sans-serif;
  font-size: 64px;
  font-weight: 300;
  width: 100%;
  height: 132px;
}

.accordion {
  --bs-accordion-btn-color: white;
  --bs-accordion-btn-bg: #464646;
  --bs-accordion-active-bg: #5e5d5d;
  --bs-accordion-active-color: white;
  --bs-accordion-bg: #646464;
  --bs-accordion-color: white;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-flush .accordion-button {
  border-top: 1px solid #000000;
}

.accordion-flush .accordion-item:last-child .accordion-button.collapsed,
.accordion-flush .accordion-item:last-child .accordion-body {
  border-bottom: 1px solid #000000;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  transition: all 0.5s;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

header{
  width: 100%;
  background-color: #ADD8E6;
    color: #fff;
    padding: 10px;
}

nav{
  position: relative;
}

.hamburguer{
  display: none;
  cursor: pointer;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
}

.rectangle-6, .rectangle-7{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .hamburguer{
      display: block;
      position: absolute;
      right: 10px;
      top: -50px;
  }
  nav ul{
      display: none;
      flex-direction: column;
      position: absolute;
      top: 40px;
      left: 0;
      background-color: rgb(127, 161, 190);
      width: 100%;
  }
  nav ul li{
      margin: 10px 0;
      text-align: center;
  }
  nav ul.show{
      display: flex;
      z-index: 99;
  }
.crypto-rising-invista-em-criptomoedas-e-eleve-seu-futuro{
  font-size: 15px;
  width: 30%;
}


  .coins-amico-1, .coins-rafiki-1-1{
    width: 50%;
    height: 50%;
  }
}

/* Responsividade */
/*@media (max-width: 1200px) {
  .rectangle-6 {
    display: flex;
    flex-direction: column;
  }

  .coins-amico-1,
  .coins-rafiki-1-1 {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
   .crypto-rising-invista-em-criptomoedas-e-eleve-seu-futuro {
    align-items: center;
    z-index: 999;
    top: 15%;
  }

  .crypto-rising-invista-em-criptomoedas-e-eleve-seu-futuro,
  .cota-o-da-criptomoeda-em-tempo-real {
    width: 80%;
    left: 10%;
    font-size: 32px;
  }

  .rectangle-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accordion {
    width: 85%;
  }
}

 */