/* Estilos gerais */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
}

#userName {
    font-weight: bold;
    color: #333;
}

button {
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    background-color: #333;
}

button:hover {
    background-color: #555454;
}

/* Centralizar o conteúdo */
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#perfilUsuario {
    background-color: aliceblue;
    width: 90%; /* Responsivo */
    max-width: 400px; /* Limitar a largura máxima */
    padding: 20px; /* Ajustado para responsividade */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dois {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btnVoltar {
    flex: 0;
    width: 20px;
}

#editar {
    text-align: center;
    flex: 20;
}

.form input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    width: 100%;
}

.botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    flex: 1 1 100%;
    max-width: 45%; /* Limitar a largura dos botões */
    margin: 10px 5px;
}

#cryptoContainer {
    background-color: #e8f0fe;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    width: 90%; /* Responsivo */
    max-width: 400px; /* Limitar a largura máxima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cryptoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cryptoItem img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.cryptoForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.cryptoForm input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.cryptoForm button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cryptoForm button:hover {
    background-color: #555454;
}


        /* Estilo para deixar a foto de perfil com borda arredondada */
        #profilePic {
            width: 150px; /* Definir o tamanho da imagem */
            height: 150px;
            border-radius: 50%; /* Faz a imagem ficar circular */
            object-fit: cover; /* Garante que a imagem ocupe todo o espaço sem distorcer */
            border: 3px solid #ccc; /* Adiciona uma borda fina */
        }

        .btn-trash {
            font-size: 0.8rem; /* Tamanho da fonte menor */
            padding: 0.2rem 0.4rem; /* Ajustar o padding para um botão menor */
            border: none; /* Remove a borda padrão */
            background-color: #333; /* Torna o fundo transparente */
            width: 45px;
            height: 40px;
        }
        

/* Responsividade */
@media (max-width: 600px) {
    #perfilUsuario {
        padding: 15px;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    .form input {
        font-size: 1rem;
    }

    button {
        padding: 8px;
        font-size: 0.9rem;
    }
}
